.addOccasion {
  display: grid;
  grid-template-rows: 100px 80px auto 150px;
  width: 100%;
  height: 100vh;
  background-color: white;
  font-weight: 400px;
}

.addOccasionContent {
  margin-top: 100px;
}

.occasionInput {
  margin-top: 20px;
}

.photoUploader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
}

.uploadPhoto,
.addInput {
  margin: 5px;
  padding: 5px 8px;
}

.uploadPhoto {
  display: none;
}

.fileSelector {
  padding: 5px 30px;
  margin: 5px;
  border: 1px solid gray;
  font-size: 0.8em;
  border: 1px solid gray;
  border-radius: 2px;
}
