.addOccasion {
  display: grid;
  grid-template-rows: 100px 80px auto 150px;
  width: 100%;
  height: 100vh;
  background-color: white;
  font-weight: 400px;
}

.addOccasionContent {
  margin-top: 100px;
}

.occasionInput {
  margin-top: 20px;
}

.photoUploader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
}

.uploadPhoto,
.addInput {
  margin: 5px;
  padding: 7px 12px;
}

.uploadPhoto {
  display: none;
}

.fileSelector {
  padding: 5px 30px;
  display: block;
  margin: 5px;
  border: 1px solid gray;
  font-size: 0.8em;
  border: 1px solid gray;
  border-radius: 2px;
  overflow: hidden;
}

@media (min-width: 375px) {
  .uploadPhoto,
  .addInput {
    margin: 8px;
    padding: 8px;
  }
  .addInput {
    width: 45%;
  }
  .fileSelector {
    padding: 8px 30px;
  }
  #addOccasionButton {
    margin: 20px;
  }
}

@media (min-width: 760px) {
  .addOccasionTitle,
  .addOccasionContent {
    font-size: 1.4em;
  }
  .addInput {
    padding: 10px;
  }
  .fileSelector {
    margin: 10px;
  }
  #addOccasionButton {
    font-size: 1.2em;
    width: 160px;
    margin: 25px;
  }
}
