.header {
  width: 100%;
  height: 80px;
  background-color: white;
  background-image: linear-gradient(to bottom right, #fa7268, #e7797168);
  text-align: center;
  position: fixed;
  z-index: 1;
  display: flex;
}

h1 {
  margin: auto;
  align-self: center;
}

a {
  text-decoration: none;
  color: white;
}

.whatToWear {
  display: flex;
  flex-direction: row;
}
.whatWear {
  font-family: 'Poiret One', cursive;
  font-size: 2.6em;
  padding-top: 5px;
}

.to {
  font-family: 'Satisfy', cursive;
  font-size: 0.7em;
  margin: 8px 8px 8px 14px;
}

@media screen and (max-width: 360px) {
  .header {
    height: 80px;
  }
}
