.signInPage {
  display: grid;
  grid-template-rows: 90px 40px auto 150px;
  width: 100%;
  height: 100vh;
  background-color: var(--accent);
}

.signInForm {
  grid-row: 3;
  align-self: center;
}

.signIn {
  grid-row: 2;
  font-weight: 400;
  font-size: 1.8em;
  margin: 10px;
}

.signInInput {
  padding: 8px;
  margin: 5px;
}

.username,
.password {
  margin: 20px 0;
  font-size: 1.4em;
}

input {
  font-size: 0.8em;
  border: 1px solid gray;
  border-radius: 2px;
}

.redirectToSignUp {
  grid-row: 4;
}

@media (min-width: 375px) {
  .signInPage {
    grid-template-rows: 120px 40px auto 150px;
  }
}

@media (min-width: 760px) {
  .signInPage {
    grid-template-rows: 160px 40px auto 150px;
  }
  .signInInput {
    padding: 8px 10px;
    margin: 8px;
  }
}
