.landingPage {
  display: grid;
  grid-template-rows: 100px auto;
  width: 100%;
  height: 100vh;
}

.header {
  grid-row: 1;
}

.introPage {
  grid-row: 2;
  background-color: pink;
}

.landingPagePhoto {
  height: 200px;
  width: 200px;
}
