.landingPage {
  display: grid;
  grid-template-rows: 100px auto 120px;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.header {
  grid-row: 1;
}

.introPage {
  display: grid;
  grid-row: 2;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 70% 30%;
  font-size: 1.2em;
}

.landingPhoto {
  grid-column: 2;
  height: 200px;
  width: 200px;
  background-color: gainsboro;
  justify-self: center;
  align-self: center;
}

.introBlurb {
  grid-column: 2;
  align-self: center;
}

.signButtons {
  grid-row: 3;
  align-self: center;
}

.submitButtons {
  width: 110px;
  height: 45px;
  background-color: gainsboro;
  margin: 10px;
  border: none;
  font-size: 1em;
  border-radius: 5px;
}
