.photoBox {
  display: flex;
  flex-direction: column;
  position: relative;
}

.wrapper {
  overflow: hidden;
  height: 310px;
  width: 290px;
  align-self: center;
  margin-bottom: 25px;
  border-radius: 5px;
}

.photo {
  width: 300px;
  background-color: gray;
  z-index: -1;
}

.wearThis {
  position: absolute;
  font-size: 1em;
  top: 84%;
  align-self: center;
  width: 290px;
  height: 40px;
  border: none;
  background-color: var(--button);
  color: white;
}

.selectWearIt {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 0;
  right: 0;
  transform: rotate(340deg);
  background-color: rgb(212, 212, 212, 0.9);
  font-size: 1.2em;
}
