.photoBox {
  display: flex;
  flex-direction: column;
  position: relative;
}

.wrapper {
  overflow: hidden;
  height: 170px;
  width: 150px;
  align-self: center;
  margin-bottom: 15px;
}

.photo {
  width: 160px;
  background-color: gray;
  z-index: -1;
}

.wearThis {
  position: absolute;
  top: 74%;
  left: 30%;
  width: 150px;
  height: 40px;
  background-color: gainsboro;
}

.wearThis:hover {
  background-color: rgb(196, 196, 196);
}
