.homePage {
  display: grid;
  grid-template-rows: 100px 80px auto 50px;
  width: 100%;
  height: 100vh;
}

.userOccasion {
  margin-top: 100px;
}

.userDetails {
  grid-row: 2;
}

.userPhotos {
  grid-row: 3;
}
