.oneResult {
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  align-items: center;
}

.pieChartResults {
  margin: 0 20px 30px 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  align-self: center;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.occasionResult {
  font-size: 1.2em;
  margin: 20px 0 0;
}

.editAndDelete {
  display: flex;
  flex-direction: row;
  position: relative;
}

.editButton,
.deleteButton {
  background-color: var(--accent);
  color: black;
  height: 50px;
  padding: 2px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.deletedMessage {
  display: block;
}

@media (min-width: 400px) {
  .occasionResult {
    font-size: 1.3em;
  }
  .oneResult {
    height: 80%;
  }
}

@media (min-width: 760px) {
  .occasionResult {
    font-size: 1.4em;
    margin-top: 30px;
  }
}
