.userPhotos {
  padding: 0;
  margin-bottom: 30px;
}

.oneUserOccasion {
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  padding-top: 1px;
  width: 85%;
  font-family: 'Poiret One', cursive;
  font-weight: 400;
  background-color: white;
}

.userName {
  margin-bottom: 5px;
  font-size: 1.8em;
}

.userName,
.occasionName {
  font-weight: bold;
}

.occasionName {
  margin: 0;
  font-size: 1.2em;
}

@media (min-width: 760px) {
  .userName {
    font-size: 2em;
  }
  .occasionName {
    margin-bottom: 10px;
  }
  .oneUserOccasion {
    margin-top: 40px;
  }
}
