.resultsPage {
  display: grid;
  grid-template-rows: 90px auto 20%;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.myResults {
  grid-row: 2;
}

.addOccasionButton {
  grid-row: 3;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.resultsHeader {
  font-size: 1.4em;
}

.submitButtons {
  align-self: center;
  bottom: 0;
}

#addAnotherButton {
  width: 100%;
  height: 45px;
  margin: auto;
  margin-top: 10%;
}

@media (min-width: 375px) {
  #addAnotherButton {
    margin-top: 0;
  }
}
@media (min-width: 400px) {
  #addAnotherButton {
    width: 100%;
    height: 45px;
    padding: 0 12px;
    font-size: 1.4em;
    font-weight: bold;
  }
}
@media (min-width: 760px) {
  .resultsPage {
    grid-template-rows: 120px auto 15%;
  }
  #addAnotherButton {
    height: 65px;
    padding: 0 20px;
  }
  .resultsHeader {
    font-size: 1.6em;
  }
}
